In [3]:


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

plt.rcParams["figure.figsize"] = [20, 5]

In [4]:
df  = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# **DATA CLEANING

>  Data cleaning

In [5]:
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
null_df = df[df.isnull().any(axis=1)]
null_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [7]:
df.dropna(axis = 0, inplace = True)
null_df = df[df.isnull().any(axis=1)]

In [8]:
zero_sales = df[['Global_Sales','JP_Sales','EU_Sales','NA_Sales']].loc[df['JP_Sales'] == 0.00].sum()
zero_sales

Global_Sales    3506.53
JP_Sales           0.00
EU_Sales        1032.93
NA_Sales        2136.31
dtype: float64

In [9]:
zero_sales = df[['Global_Sales','JP_Sales','EU_Sales','NA_Sales']].loc[df['NA_Sales'] == 0.00]
zero_sales.sum()

Global_Sales    609.68
JP_Sales        502.27
EU_Sales         83.78
NA_Sales          0.00
dtype: float64

In [10]:
zero_sales = df[['Global_Sales','JP_Sales','EU_Sales','NA_Sales']].loc[df['EU_Sales'] == 0.00]
zero_sales.sum()

Global_Sales    887.19
JP_Sales        537.77
EU_Sales          0.00
NA_Sales        298.37
dtype: float64

In [11]:
zero_sales = df[['Global_Sales','JP_Sales','EU_Sales','NA_Sales']].loc[df['Global_Sales'] == 0.00]
zero_sales.sum()

Global_Sales    0.0
JP_Sales        0.0
EU_Sales        0.0
NA_Sales        0.0
dtype: float64

> Data Transformation

In [12]:

df['Year'] = df['Year'].apply(lambda x: int(x))
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [31]:
df.to_csv('vgsales_cleaned.csv', index = False)

# **DATA EXPLORATION

> The top 5 Best - selling platforms of all time

In [14]:
df[['Platform', 'Global_Sales']].groupby(['Platform']).sum().sort_values(by = 'Global_Sales', ascending = False).head(5)

          Global_Sales
Platform
PS2            1233.46
X360            969.60
PS3             949.35
Wii             909.81
DS              818.91

> The top 50 best selling games of all time

In [15]:
df[['Name', 'Global_Sales','Platform']].groupby(['Name']).sum().sort_values(by = 'Global_Sales', ascending = False).head(10)

                                Global_Sales          Platform
Name
Wii Sports                             82.74               Wii
Grand Theft Auto V                     55.92  PS3X360PS4XOnePC
Super Mario Bros.                      45.31             NESGB
Tetris                                 35.84             GBNES
Mario Kart Wii                         35.82               Wii
Wii Sports Resort                      33.00               Wii
Pokemon Red/Pokemon Blue               31.37                GB
Call of Duty: Modern Warfare 3         30.83      X360PS3PCWii
New Super Mario Bros.                  30.01                DS
Call of Duty: Black Ops II             29.72     PS3X360PCWiiU

>  Top (5) Best - Selling Genres

In [18]:
df[['Rank','Genre','Global_Sales']].groupby(['Genre']).sum().sort_values(by = 'Global_Sales',ascending = False).head(5)

                  Rank  Global_Sales
Genre
Action        25955792       1722.84
Sports        17105195       1309.24
Shooter        9399409       1026.20
Role-Playing  11840252        923.83
Platform       6019939        829.13